:root {
	--dark-color: #000;
	--white-color: #fff;
	--purple-color: #8c20ba;
	--pink-color: #ff517c;
	--orange-color: #ff6633;
	--red-color: #ff3333;
	--yellow-color: #ffff33;
	--limeGreen-color: #99cc33;
	--green-color: #009966;
	--turquoise-color: #009999;
	--gradient-color-right: linear-gradient(to right, var(--purple-color), var(--pink-color));
	--gradient-color-bot: linear-gradient(180deg, var(--purple-color), var(--pink-color));
}

* {
	padding: 0;
	margin: 0;
	font-family: "Bebas Neue", cursive;
	color: var(--white-color);
}

/* --- Header --- */
.logo {
	width: 25%;
}

/* --- Main --- */

/* --- Footer --- */
.footer {
	background-color: var(--dark-color);
	max-height: 150px;
	font-size: 0.8rem;
}

.footer .footer_logo {
	max-width: 125px;
}

.footer .nav-link a {
	color: var(--white-color);
	text-decoration: none;
}

.barra-h {
	margin: 0;
	height: 2px;
	width: 20px;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
}

.barra-v {
	transform: rotate(90deg) translate(25px);
	margin: 0;
	height: 2px;
	width: 4rem;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
}

.btn-default {
	background-image: var(--gradient-color-right);
	color: var(--white-color);
	border: none;
	border-radius: 25px;
	padding: 8px 25px;
	margin: 1rem;
}

.btn-menu {
	border: none;
}

.btn-menu i {
	color: var(--purple-color);
	font-size: 1.5rem;
}

.title {
	color: var(--dark-color);
}

.title-h1 {
	color: var(--dark-color);
	font-size: 3rem;
}

.title-h3 {
	color: var(--dark-color);
	font-size: 1.5rem;
}

.gradient-bot {
	background-image: linear-gradient(var(--purple-color), var(--pink-color));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/* 
esta clase no esta en el codigo
.logo-u {
	width: 40%;
	object-fit: contain;
} */

/* .arrow {
	display: inline;
	width: 25px;
	height: 25px;
	padding: 10px;
	margin: 15px;
	border-radius: 50px;
	background-image: linear-gradient(var(--purple-color), var(--pink-color));
	position: relative;
	left: 40%;
	top: 20px; 
} */

.comenza {
	margin-left: 10px;
}

.barra-v-2 {
	width: 2px;
	height: 85px;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
	position: absolute;
}

.p-w {
	font-size: 0.9rem;
}

.unis {
	padding: 15px;
	border: 1px solid var(--purple-color);
	border-radius: 5px;
}

.unis-logo {
	margin: 10px;
	width: 90%;
}

.barra-h-2 {
	margin: 5px;
	height: 2px;
	width: 10rem;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
}

.btn-curso {
	background-color: #fff;
	border: 1px solid var(--purple-color);
	margin: 1px;
	width: 15rem;
	font-size: large;
}

.btn-grupo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Para los backgrounds */
/* filter: grayscale(80%); */
