:root {
	--dark-color: #000;
	--grey-color: #8c8c8c;
	--white-color: #fff;
	--purple-color: #8c20ba;
	--pink-color: #ff517c;
	--orange-color: #ff6633;
	--red-color: #ff3333;
	--yellow-color: #ffff33;
	--limeGreen-color: #99cc33;
	--green-color: #009966;
	--turquoise-color: #009999;
	--gradient-color-right: linear-gradient(to right, var(--purple-color), var(--pink-color));
	--gradient-color-bot: linear-gradient(180deg, var(--purple-color), var(--pink-color));
}

* {
	padding: 0;
	margin: 0;
	font-family: "Bebas Neue", cursive;
	color: var(--white-color);
}

/* --- Header --- */
.logo {
	width: 25%;
}
/* --- Main --- */

.onbording {
	background-image: url(./img/backgrounds/Onboardingdesk.png);
	background-size: cover;
}

.comunidad {
	background-image: url(./img/backgrounds/comunidadLearnyDesk.png);
	background-repeat: no-repeat;
	min-height: 470px;
}

.conocimientos {
	background-image: url(./img/backgrounds/PoneAPruebadesk.png);
	background-repeat: no-repeat;
	min-height: 470px;
}

.preguntas {
	background-image: url(./img/backgrounds/PreguntasFrecuentesdesk.png);
	background-repeat: no-repeat;
	min-height: 470px;
}

/* --- Footer --- */
.footer {
	background-color: var(--dark-color);
	max-height: 150px;
	font-size: 0.8rem;
}

.footer .footer_logo {
	max-width: 125px;
}

.footer .nav-link a {
	color: var(--white-color);
	text-decoration: none;
}

.barra-h {
	margin: 0;
	height: 2px;
	width: 20px;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
}

.barra-v {
	transform: rotate(90deg) translate(25px);
	margin: 0;
	height: 2px;
	width: 40px;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
}

.btn-default {
	background-image: var(--gradient-color-right);
	color: var(--white-color);
	border: none;
	border-radius: 25px;
	padding: 8px 25px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn-menu {
	border: none;
}

.btn-menu i {
	color: var(--purple-color);
	font-size: 1.5rem;
}

.title {
	color: var(--dark-color);
}

.title-h1 {
	color: var(--dark-color);
	font-size: 3rem;
}

.title-h3 {
	color: var(--dark-color);
	font-size: 1.25rem;
}

.textValue {
	font-size: 0.8rem;
}

.textGrey {
	color: var(--grey-color);
}

.textPink {
	color: var(--pink-color);
}

.textTeal {
	color: var(--turquoise-color);
}

.textYellow {
	color: var(--yellow-color);
}

.textPurple {
	color: var(--purple-color);
}
.textTiles {
	margin-bottom: 0;
}

.gradient-bot {
	background-image: linear-gradient(var(--purple-color), var(--pink-color));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.barra-v-2 {
	width: 2px;
	height: 65px;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
	position: absolute;
}

.barra-v-3 {
	width: 2px;
	height: 345px;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
	position: absolute;
}

.p-w {
	font-size: 0.9rem;
}
.metricaValoraciones {
	margin-bottom: 100px;
}

.unis {
	background: var(--white-color);
	z-index: 1;
	position: relative;
	overflow: hidden;
	top: -60px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 10px 15px rgba(140, 32, 186, 0.15);
	border-top: 1px solid var(--purple-color);
	border-bottom: 1px solid var(--pink-color);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%),
		linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%);
}

.unis-logo {
	margin: 10px;
	width: 90%;
}

.barra-h-2 {
	margin: 5px;
	height: 2px;
	width: 10rem;
	color: white;
	background-image: var(--gradient-color-right);
	opacity: 1;
}

.btn-curso {
	background-color: #fff;
	border: 1px solid var(--purple-color);
	margin: 1px;
	width: 15rem;
	height: 4.5rem;
	font-size: 1.5rem;
	line-height: 1.5rem;
	background: var(--white-color);
	border-radius: 5px;
	box-shadow: 0 10px 15px rgba(140, 32, 186, 0.15);
	border-top: 1px solid var(--purple-color);
	border-bottom: 1px solid var(--pink-color);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%),
		linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%);
}

.btn-grupo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.btn-inscribite {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.comenza {
	margin-left: 1rem;
}

/* Para los backgrounds */
/* filter: grayscale(80%); */

@media (max-width: 375px) {
	.comenza {
		margin-left: 1rem;
		margin-top: 90px;
	}

	.barra-v-2 {
		width: 2px;
		height: 85px;
		color: white;
		background-image: var(--gradient-color-right);
		opacity: 1;
		position: absolute;
	}

	.border-gradient {
		border-right: 3px solid var(--purple-color);
	}
	.arrow-left {
		display: none;
	}

	.arrow-right {
		display: none;
	}

	.onbording {
		background-image: url(./img/backgrounds/onboardingMobile.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.title-h1 {
		font-size: 2rem;
	}

	.value {
		color: var(--purple-color);
	}
	.onbordingtext {
		font-size: 1rem;
	}

	.onbordingsubtext {
		font-size: 0.8rem;
	}

	.textValue,
	.onbordingsubtext,
	.onbordingtext {
		color: #000;
	}

	.onbordingLogo {
		display: none;
	}

	.metricaValoraciones {
		margin-bottom: 0px;
	}

	.unis {
		position: static;
	}

	.comunidad {
		background-image: url(./img/backgrounds/conocealaComunidadMobile.png);
		background-repeat: no-repeat;
		min-height: 630px;
	}

	.conocimientos {
		background-image: url(./img/backgrounds/poneAPruebaMobile.png);
		background-repeat: no-repeat;
		min-height: 470px;
	}

	.preguntas {
		background-image: url(./img/backgrounds/preguntasFrecuentesMobile.png);
		background-repeat: no-repeat;
		min-height: 630px;
		padding-top: 185px;
	}
}

.card {
	border-radius: 0.5rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	padding: 1.5rem;
	margin-bottom: 1rem;
	width: 22rem;
}

.card-sm {
	border-radius: 0.5rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	padding: 1.5rem;
	margin-bottom: 1rem;
	width: 20rem;
	height: 15rem;
}

.card-sm p {
	font-size: 0.8rem;
}
.card-img {
	height: 4rem;
	width: 4rem;
}
.card-img img {
	height: 4rem;
	width: 4rem;
}

.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.btn-arrow {
	background-image: var(--gradient-color-right);
	color: var(--white-color);
	border: none;
	border-radius: 25px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-left {
	width: 3rem;
}

.arrow-right {
	width: 3rem;
}

.btn-left {
	padding-left: 20px;
}

.btn-preguntas {
	background-color: #fff;
	border: 1px solid var(--purple-color);
	font-size: 1.5rem;
	line-height: 1.5rem;
	background: var(--white-color);
	border-radius: 5px;
	box-shadow: 0 10px 15px rgba(140, 32, 186, 0.15);
	border-top: 1px solid var(--purple-color);
	border-bottom: 1px solid var(--pink-color);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%),
		linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%);
}

.accordion button {
	padding: 1rem;
	padding-right: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	color: var(--purple-color);
	background-color: red;
}

.carousel-item.active {
	display: block;
}

.btn-preguntas:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid var(--purple-color);
	font-size: 1.5rem;
	line-height: 1.5rem;
	background: var(--white-color);
	border-radius: 5px;
	box-shadow: 0 10px 15px rgba(140, 32, 186, 0.15);
	border-top: 1px solid var(--purple-color);
	border-bottom: 1px solid var(--pink-color);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-webkit-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-moz-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: -o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%),
		-o-linear-gradient(top, var(--purple-color) 0%, var(--pink-color) 100%);
	background-image: linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%),
		linear-gradient(to bottom, var(--purple-color) 0%, var(--pink-color) 100%);
}

.borde {
	padding-left: 1rem;
	border-left: 0.5mm solid var(--purple-color);
}
